<div>
    <div id="dashboard-chart">
        <h2 class="title">Verbruik in kWh</h2>
        <div style="display: block">
            <canvas id="chart" height="350" width="700">
            </canvas>
        </div>
        <div class="dashboard-filter-container">
            <div class="dashboard-filter">
                <!-- <div [ngClass]="selectedFilter === 3 ? 'checked' : ''" (click)="changeFilter(3)">Week</div> -->
                <!-- <div [ngClass]="selectedFilter === 2 ? 'checked' : ''" (click)="changeFilter(2)">Maand</div> -->
                <div [ngClass]="selectedFilter === 1 ? 'checked' : ''" (click)="changeFilter(1)">3 Maanden
                </div>
                <div [ngClass]="selectedFilter === 0 ? 'checked' : ''" (click)="changeFilter(0)">Jaar</div>
            </div>
        </div>
    </div>
</div>